* {
  border-radius: 10px;
}

body {
  height: 100vh;
  width: 100%;
  border-radius: 0px;
  background-color: #49a;
}

#container {
  height: 120vh;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "sidebar footer";
  grid-gap: 0.4rem;
}

nav {
  text-align: center;
  background-color: #16b;
  grid-area: nav;
}

#sidebar {
  background-color: #48c;
  grid-area: sidebar;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.3rem;
  text-align: center;
  background-color: #0cf;
  grid-area: main;
}

footer {
  background-color: #16b;
  grid-area: footer;
}
