<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
    <title>Create New To-Do</title>
</head>
<body>
    {{> nav}}
<div class="mb-3 row">
    <div class="input-group mb-2">
        <span class="input-group-text" id="inputGroup-sizing-default">Task</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Add Task</button>
    </div>
</div>

    {{> script}}
</body>
</html>