<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
    <title>Create New To-Do</title>
</head>
<body>
<h2>ADD TO-DO</h2>
    {{> nav}}
<form class="row g-3" action="/create-todo" method="POST">
  <div class="col-auto">
    <label for="inputPassword2" class="form-label">Task Name</label>
    <input type="text" class="form-control" name="taskname" placeholder="type here...">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add Task</button>
  </div>
</form>

    {{> script}}
</body>
</html>