<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
    <title>Git 'er Done</title>
</head>
<body>
<div class="container">
    <h2>DELETE TASKS</h2>
    {{> nav}}

    {{> script}}
</div>
</body>
</html>