<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
    <title>Git 'er Done</title>
</head>
<body>
<div class="container">
    <h2>COMPLETE TASKS</h2>
    {{> nav}}
    <form class="row g-3" action="/create-todo" method="POST">
    {{#incomplete}}
    <ul class="list-group">
        <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" id="task">
            <label for="task">{{.}}</label>
        </li>
    </ul>
    {{/incomplete}}
     <button type="submit" class="btn btn-primary mb-3" style="margin-top: 1rem;">Complete Task(s)</button>
    </form>
    {{> script}}
    </div>
</body>
</html>