<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Product Information</title>
</head>
<body>
    <h1>Modify Product Information (based on Product ID)</h1>
    <form action="/create_product" method="POST">
        <label for="name">Product ID</label>
        <input type="text" name="prodName">
        <label for="name">Modify Product Name</label>
        <input type="text" name="prodName">
        <label for="quantity">Modify Quantity</label>
        <input type="number" name="quantity">
        <button type="submit">Modify Product</button>
    </form>
    
    {{#message}}
    <div>
    <h3>{{message}}</h3>
    </div>
    {{/message}}
</body>
</html>