<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Git 'er Done App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/create-todo">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/read-todos">View All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/udpate-todos">Complete/Modify</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/delete-todos">Remove</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>